@charset "UTF-8";

.filemanager-upload-container {
    position: relative;
    user-select: none;

    .filemanager-upload-previews {
        .dz-processing .filemanager-list-item-delete {
            display: none;
        }

        .dz-error .filemanager-error-message {
            display: inline-block !important;
        }

        .ui.progress {
            margin: .5em 0 0 !important;
        }
    }
}
