.responsive-picture {
    position: relative;
    height: 0;
    display: block;
    width: 100%;

    img {
        position: absolute !important;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: block;
    }
}
