@charset "UTF-8";

.filemanager-preview {
    width: 100%;
    height: 500px;
    border: 1px solid grey;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fafcms-file-select-preview .fafcms-filemanager-image-wrapper img {
    max-width: 100%;
}

.ui.form .file-field.field {
    position: relative;
    padding: 10px;
    border-radius: .28571429rem;
    border: 1px solid rgba(34,36,38,.15);

    &.success {
        border-color: #a3c293;
    }

    &.error {
        border-color: #e0b4b4;
    }

    &.success, &.error {
        .ui.button.dropdown {
            background: #e0e1e2 none !important;
            color: rgba(0,0,0,.6) !important;

            .menu {
                border-color: rgba(34,36,38,.15) !important;

                .item {
                    background-color: inherit !important;
                    color: rgba(0,0,0,.87) !important;

                    &:hover {
                        background: rgba(0,0,0,.05) !important;
                        color: rgba(0,0,0,.95) !important;
                    }

                    &:focus {
                        background: rgba(0,0,0,.05) !important;
                        color: rgba(0,0,0,.95) !important;
                    }

                    &.active {
                        background-color: #ffffff !important;
                    }
                }
            }
        }
    }
}
